{{ loci }}
<hr />
{{ inputFormatted }}
<hr />
{{ date }}
<hr />
{{ open }}
<hr />
<div style="text-align: left;">
    <ni-datetime-picker [(ngModel)]="date" locale="en_US" titleFormat="YYYY"
        inputFormat="WWWW DD MMM YYYY" monthHeaderFormat="MMMM" [numberOfMonths]="3"
        [monthPicker]="false" [inline]="true" placeholder="date/time" [localePickable]="false">
    </ni-datetime-picker>
    <!-- <br />
    <ni-datetime-picker [(model)]="date" [defaultDate]="defauld" locale="en_US"
        titleFormat="MMMM YYYY" inputFormat="YYYY-MM" monthHeaderFormat="MMMM YYYY"
        [numberOfMonths]="12" [monthPicker]="false" [datePicker]="true" [timePicker]="true"
        [inline]="true" placeholder="date/time" [localePickable]="true">
    </ni-datetime-picker>
    <br />
    <ni-datetime-picker [(model)]="date" [defaultDate]="defauld" locale="fa_AF"
        titleFormat="MMMM YYYY" inputFormat="YYYY-MM" monthHeaderFormat="MMMM YYYY"
        [numberOfMonths]="2" [monthPicker]="false" [datePicker]="true" [timePicker]="true"
        [inline]="true" placeholder="date/time" [localePickable]="true">
    </ni-datetime-picker>
    <br />
    <ni-datetime-picker [(model)]="date" [defaultDate]="defauld" locale="fa_AF"
        titleFormat="YYYY" inputFormat="YYYY-MM" monthHeaderFormat="MMMM" [numberOfMonths]="12"
        [monthPicker]="true" [datePicker]="true" [timePicker]="true" [inline]="true"
        placeholder="date/time" [localePickable]="true">
    </ni-datetime-picker> -->
</div>
