<div>
    <div class="field">
        <div class="title">ngModel</div>
        <div class="value">
            <button (click)="ngModel = newDate()">{{ ngModel }}</button>
        </div>
    </div>

    <div class="field">
        <div class="title">defaultDate</div>
        <div class="value">{{ defaultDate }}</div>
    </div>

    <div class="field">
        <div class="title">monthPicker</div>
        <div class="value">
            <button (click)="monthPicker = !monthPicker">{{ monthPicker }}</button>
        </div>
    </div>

    <div class="field">
        <div class="title">datePicker</div>
        <div class="value">
            <button (click)="datePicker = !datePicker">{{ datePicker }}</button>
        </div>
    </div>

    <div class="field">
        <div class="title">timePicker</div>
        <div class="value">
            <button (click)="timePicker = !timePicker">{{ timePicker }}</button>
        </div>
    </div>

    <div class="field">
        <div class="title">inline</div>
        <div class="value">
            <button (click)="inline = !inline">{{ inline }}</button>
        </div>
    </div>

    <div class="field">
        <div class="title">enableLocaleSwitch</div>
        <div class="value">
            <button
                (click)="enableLocaleSwitch = !enableLocaleSwitch">{{ enableLocaleSwitch }}</button>
        </div>
    </div>

    <div class="field">
        <div class="title">locale</div>
        <div class="value">
            <select name="locale" ngDefaultControl [(ngModel)]="locale">
                <option [ngValue]="'fa_AF'">fa_AF</option>
                <option [ngValue]="'fa_IR'">fa_IR</option>
                <option [ngValue]="'en_US'">en_US</option>
                <option [ngValue]="customLocale">MyCustomOne</option>
            </select>
        </div>
    </div>

    <div class="field">
        <div class="title">inputFormat</div>
        <div class="value">
            <input name="inputFormat" ngDefaultControl [(ngModel)]="inputFormat">
        </div>
    </div>

    <div class="field">
        <div class="title">placeholder</div>
        <div class="value">
            <input name="placeholder" ngDefaultControl [(ngModel)]="placeholder"
                [disabled]="inline">
        </div>
    </div>

    <div class="field">
        <div class="title">titleFormat</div>
        <div class="value">
            <input name="titleFormat" ngDefaultControl [(ngModel)]="titleFormat">
        </div>
    </div>

    <div class="field">
        <div class="title">monthHeaderFormat</div>
        <div class="value">
            <input name="monthHeaderFormat" ngDefaultControl [(ngModel)]="monthHeaderFormat">
        </div>
    </div>

    <div class="field">
        <div class="title">numberOfMonths</div>
        <div class="value">
            <input name="numberOfMonths" ngDefaultControl [(ngModel)]="numberOfMonths">
        </div>
    </div>
</div>

<hr />

<div style="text-align: center;">
    <ni-datetime-picker [(value)]="ngModel" [defaultDate]="defaultDate" [monthPicker]="monthPicker"
        [datePicker]="datePicker" [timePicker]="timePicker" [inline]="inline"
        [enableLocaleSwitch]="enableLocaleSwitch" [locale]="locale" [inputFormat]="inputFormat"
        [placeholder]="placeholder" [titleFormat]="titleFormat"
        [monthHeaderFormat]="monthHeaderFormat" [numberOfMonths]="numberOfMonths">
    </ni-datetime-picker>
</div>
